<ion-view view-title="Home" hide-back-button="true">
    <ion-content class="pane-custom1">
        <h1><p class="home-header-text margin10Top">
            Order from 100+ Dabawala from your area
            </p>
        </h1>
        <h2><p class="home-header-text">
            Discover local tiffin wala at your doorstep
        </p>
        </h2>
        <div class="row">
            <div class="button-bar">
                <a class="button button-positive" style="margin-left:20px; margin-right: 10px" ng-click="login()">Order Tiffen</a>
                <a class="button button-energized" style="margin-left: 10px" ng-click="login()">Tiffen Wala</a>
            </div>
        </div>
    </ion-content>
</ion-view>
