<ion-view view-title="Home">
    <ion-content class="pane-custom1">
        <h1><p class="home-header-text margin10Top">
            Order from 100+ Dabawala from your area
            </p>
        </h1>
        <h2><p class="home-header-text">
            Discover local tiffen wala at your doorstep
        </p>
        </h2>
        <div class="row">
            <div class="col col-80 col-offset-10 search-bar">
                <div class="row">
                    <label class="margin10 col col-30 item item-input">
                        <input type="text" placeholder="Entry City">
                    </label>
                    <label class="margin10 col col-30 item item-input">
                        <input type="text" placeholder="Your Area">
                    </label>
                    <button class="col col-30 button button-balanced">
                        Find Tiffen Wala
                    </button>
                </div>
            </div>
            <div class="col col-10">
                </div>
        </div>
    </ion-content>
</ion-view>
