<ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="content"></ion-nav-view>
<ion-view title="Login" hide-back-button="true"> <ion-content>
<form ng-submit="doLogin()">
<p style="color:red" ng-show="errors.msg">{{errors.msg}}</p>
	<div class="list">
		<label class="item item-input"> <span class="input-label">Username</span>
			<input type="text" ng-model="loginData.username">
		</label> <label class="item item-input"> <span class="input-label">Password</span>
			<input type="password" ng-model="loginData.password">
		</label> <label class="item">
			<button class="button button-block button-dark" type="submit">Log
				in</button>
		</label>
	</div>
</form>

<div class="alert alert-warning noaccount">You don't have an account yet?</div>

<div class="button-bar">
	<a class="button button-dark" role="button" href="#/registerUser">Register
		as a user</a> <a class="button button-dark" role="button"
		href="#/registerVendor">Register as a vendor</a>
</div>
</ion-content> </ion-view>
