<ion-view title="Registration Options">
    <ion-content>
        <form class="form" style="text-align: center;">
            <div class="form-group">
                <button onclick='' class="btn btn-default btn-sm">Create My Order</button>
            </div>
            <div class="form-group">
                <button onclick='' class="btn btn-default btn-sm">Find a Tiffenwala</button>
            </div>
            <div class="form-group">
                <button onclick='' class="btn btn-default btn-sm">Login to Tiffenwala</button>
            </div>
            <div class="form-group">
                <button onclick='' class="btn btn-default btn-sm">Register to Tiffenwala</button>
            </div>
        </form>
    </ion-content>
</ion-view>